html , body 
{
    background-color: gray;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

#cvsCNT {
    width: 100vw;
    height: 100vh;
}

.leaflet-tooltip.village-labels {
    background-color: transparent;
    border: transparent;
    box-shadow: none;
    font-size: larger;
}

.selector {
    display: flex;
    flex-direction: row-reverse;
}

.selector-cnt {
    display: flex;
    flex-direction: row;
}

.color_viewer_item {
    display: flex;
    flex-direction: row;
    margin-left: 10px;
    margin-top: 2px;
    margin-bottom: 2px;
}

.color_viewer_item label {
    margin-left: 10px;
}

.color_viewer_container {
    display: flex;
    flex-direction: column;
}

.leaflet-popup-content h1 {
    font-size: 20px;
}

.leaflet-popup-content p {
    font-size: 15px;
}

.leaflet-popup-content {
    aspect-ratio: 5/6;
    overflow-y: scroll;
}